.container-proyecto {
    width: 97%;
    margin: auto;
    padding:  5px;
    box-sizing: border-box;    
}

.header-proyecto {
    margin: 15px auto ;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    padding: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
     background: #111827;
     height: 95px;
     border-radius: 10px;
}

.header-proyecto button {
margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
  background: linear-gradient(90deg,  #0901e6,
  #c663f1ce);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.header-proyecto button:hover {
     background: linear-gradient(
  135deg,
  #0901e6,
  #c663f1ce
  );
  transform: translateY(-2px);
}


@media (min-width: 768px) {

    .header-proyecto {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr  1fr;
        height: 70px;
    }

    .header-proyecto h1 {
        text-align: left;
    }
    
}